// Reset
@import '../../bower_components/normalize-scss/_normalize';

// Colours
$white: #fff;
$pink: #dd1f3e;
$grey: #555;
$dark-grey: #333;
$light-grey: #676767;
$lightest-grey: #f9f9f9;

// Fonts
$serif: "Lora", Georgia, serif;
$sans-serif: "Open Sans", Arial, sans-serif;
