<ul class="posts">
    <%
    var l = Object.keys(public.posts._data).length;
    if (typeof limit !== 'undefined') { l = Math.min(limit, l); }
    for (var i = 0; i < l; i++) {
        var slug = Object.keys(public.posts._data)[i];
        var entry = public.posts._data[slug];
    %>
        <li>
            <a class="post-title" href="/posts/<%= slug %>"><%= entry.title %></a>
            <span class="post-published"><%= entry.published %></span>
        </li>
    <% } %>
</ul>
