<div id="masthead">
  <span class="h3">Let’s talk Guild Wars 2</span>
</div>
<div id="content" class="center">
  <%- partial("_posts-summary", { limit: 10 }) %>
  <a href="/posts" class="all-posts">More posts</a>
</div>
