<aside id="about">
    <p>This <a href="https://www.guildwars2.com/en/">Guild Wars 2</a> blog aims to provide
    interesting articles and useful tools for other players. Everything posted is written by me,
    <b>Sayana</b>, a London–based web developer and GW2 player on the <b>Aurora Glade</b> server.
    Read more <a href="/about">about Black Lion Chest</a> or <a href="/posts/">view a
    list of all posts</a>.</p>
</aside>
<%- partial("_posts", { limit: 10 }) %>
