<aside id="about">
    <p>This <a href="https://www.guildwars2.com/en/">Guild Wars 2</a> blog aims to provide
    interesting articles and useful tools for other players. Everything posted is written by me,
    <b>Sayana</b>, a London–based web developer and player on the <b>Aurora Glade</b> server
    with the wonderful <a href="http://dragonseason.com/">Dragon Season</a>. Read more
    <a href="/about">about the site</a> or view a list of <a href="/posts/">all posts</a>,
    past and present.</p>
</aside>
<%- partial("_posts", { limit: 10 }) %>
