<aside id="about">
    <p>Let’s talk about <a href="https://www.guildwars2.com/en/">Guild Wars 2</a>.<br>
    Read more <a href="/about">about the site</a> or view a list of <a href="/posts/">all the posts</a>.</p>
</aside>
<%- partial("_posts", { limit: 10 }) %>
